.Form{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.form_fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 18px;
    margin-top: 10vh;
}



.submit_button{
    margin-top: 18px;
}

