.Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #485461;
    background-image: linear-gradient(315deg, #2d3033 0%, #182029 100%);

}

.header_logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header_logo > h2{
    font-size: 20px;
    color: grey;
}
.logo{
    height: 40px;
    width: 40px;
}

.header_search{

}

.header_button{
}